/.idea
node_modules
coverage
docs/.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
docs/_site/CNAME
docs/_site/docker-compose.yml
docs/_site/index.html
docs/_site/static/css/generator_config.txt
docs/_site/static/css/index.css
docs/_site/static/css/lato-regular-webfont.woff
docs/_site/static/css/lato-regular-webfont.woff2
docs/_site/static/css/specimen_files/grid_12-825-55-15.css
docs/_site/static/css/specimen_files/specimen_stylesheet.css
docs/_site/static/img/emojibanner.png
docs/_site/static/img/favicon/favicon.ico
docs/_site/static/img/favicon/favicon_144.png
docs/_site/static/img/favicon/favicon_32.png
docs/_site/static/img/favicon/favicon_48.png
docs/_site/static/img/favicon/favicon_96.png
docs/_site/static/img/headerlogo.png
docs/_site/static/srt/211012_JLOG_SHO.srt
docs/_site/static/srt/dreamer_mv.srt
docs/_site/static/srt/j-interview_2021.srt
docs/_site/static/srt/OffCamJO1_1.srt
docs/_site/static/srt/OffCamJO1_2.srt
docs/_site/static/srt/OffCamJO1_3.srt
docs/_site/static/srt/OffCamJO1_4.srt
docs/_site/static/srt/OffCamJO1_5.srt
docs/_site/static/srt/wintercamp_spinoff.srt
docs/_site/static/vendor/bootstrap/css/bootstrap-grid.css
docs/_site/static/vendor/bootstrap/css/bootstrap-grid.css.map
docs/_site/static/vendor/bootstrap/css/bootstrap-grid.min.css
docs/_site/static/vendor/bootstrap/css/bootstrap-grid.min.css.map
docs/_site/static/vendor/bootstrap/css/bootstrap-reboot.css
docs/_site/static/vendor/bootstrap/css/bootstrap-reboot.css.map
docs/_site/static/vendor/bootstrap/css/bootstrap-reboot.min.css
docs/_site/static/vendor/bootstrap/css/bootstrap-reboot.min.css.map
docs/_site/static/vendor/bootstrap/css/bootstrap.css
docs/_site/static/vendor/bootstrap/css/bootstrap.css.map
docs/_site/static/vendor/bootstrap/css/bootstrap.min.css
docs/_site/static/vendor/bootstrap/css/bootstrap.min.css.map
docs/_site/static/vendor/bootstrap/js/bootstrap.bundle.js
docs/_site/static/vendor/bootstrap/js/bootstrap.bundle.js.map
docs/_site/static/vendor/bootstrap/js/bootstrap.bundle.min.js
docs/_site/static/vendor/bootstrap/js/bootstrap.bundle.min.js.map
docs/_site/static/vendor/bootstrap/js/bootstrap.js
docs/_site/static/vendor/bootstrap/js/bootstrap.js.map
docs/_site/static/vendor/bootstrap/js/bootstrap.min.js
docs/_site/static/vendor/bootstrap/js/bootstrap.min.js.map
docs/_site/static/vendor/jquery/jquery-3.5.1.slim.js
docs/_site/static/vendor/jquery/jquery-3.5.1.slim.min.js
docs/_site/static/vendor/jquery/jquery-3.5.1.slim.min.map
docs/_site/static/vendor/subtitles-parser/subtitles.parser.js
docs/_site/static/vendor/youtube.external.subtitle/youtube.external.subtitle.js
docs/_site/static/vendor/youtube.external.subtitle/youtube.external.subtitle.min.js
docs/_site/submit/index.html
docs/_site/video/dreamer/index.html
docs/_site/video/j-interview-2021/index.html
docs/_site/video/jlog-sho/index.html
docs/_site/video/offcam-1/index.html
docs/_site/video/offcam-2/index.html
docs/_site/video/offcam-3/index.html
docs/_site/video/offcam-4/index.html
docs/_site/video/offcam-5/index.html
docs/_site/video/wintercamp-spinoff/index.html
docs/Gemfile
docs/Gemfile.lock
